<!--https://startbootstrap.com/theme/business-casual-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<h1>Форма для поиска
    <form action="result.html">
        <input type="text" value="query_string" placeholder="строка поиска">
        <br>
        <input type="submit" value="Искать вакансии">
        <p><select name="where" id="">
            <option>Везде</option>
            <option value="">В названии компании</option>
            <option value="">В названии вакансии</option>
        </select></p>
    </form>
</h1>
    <hr>
    <p class="proverb">
        Работа не волк, в лес не убежит
    </p>
    <a href="index.html">На главную</a>
</body>
</html>